html {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: #494f50;
}

.v-SplitDivider {
  z-index: 8;
  cursor: ew-resize;
}

.v-Empty {
    top: 40%;
    left: 15px;
    right: 15px;
    color: #a1a8aa;
    font-size: 27px;
    text-align: center;
}

.app-toolbar {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    background: #e74c3c;
    color: #fff;
    cursor: default;
    user-select: none;
}

.app-list {
    border-left: 1px solid #282828;
}

.app-content {
    background: #f6f6f8;
    border-left: 1px solid #e3e6e6;
}

/* --- Sidebar --- */

.v-Sidebar {
    padding-top: 15px;
    background: #505050;
    color: #fff;
}

.v-MailboxSource {
    display: flex;
    padding: 0 15px;
    line-height: 2.1;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
}
.v-MailboxSource.is-selected,
.v-MailboxSource.is-underDrag,
.v-MailboxSource:hover {
    background: rgba(0,0,0,0.3);
}
.v-MailboxSource.is-selected {
    cursor: auto;
}

.v-MailboxSource-name {
    flex: auto;
    overflow: hidden;
    white-space: nowrap;
}

.v-MailboxSource-count {
    flex: none;
    padding-left: 10px;
}

/* --- Toolbar Heading --- */

.v-MailboxTitle {
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    padding: 0 15px;
    line-height: 49px;
    font-size: 24px;
}

.v-MailboxTitle-name {
    flex: auto;
}
.v-MailboxTitle-total {
    flex: none;
}

.v-MailboxTitle:after {
    content: "";
    position: absolute;
    top: 13px;
    bottom: 13px;
    right: -1px;
    width: 1px;
    background: rgba(256,256,256,0.3);
}

/* --- Toolbar Actions --- */

.v-Toolbar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 15px;
    user-select: none;
}

.v-Toolbar .v-Button {
    background: none;
    border: none;
    padding: 15px;
    font-size: 17px;
    cursor: pointer;
}
.v-Toolbar .v-Button:hover,
.v-Toolbar .v-Button.is-active {
    background: rgba(0,0,0,0.15);
}

.v-Toolbar .v-Button > .icon {
    margin-right: 5px;
}

/* --- Mailbox Listing --- */

.v-MailboxItem {
    right: 0;
    line-height: 17px;
    height: 96px;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
}
.v-MailboxItem.is-selected {
    background: #e3e6e6;
}

.v-MailboxItem.is-selected:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: #e3e6e6;
}

.v-MailboxItem:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 1px;
    background: #e3e6e6;
}

.v-MailboxItem-name,
.v-MailboxItem-time,
.v-MailboxItem-subject,
.v-MailboxItem-total,
.v-MailboxItem-preview {
    position: absolute;
    overflow: hidden;
    left: 15px;
    right: 15px;
    text-overflow: ellipsis;
}

.v-MailboxItem-name {
    top: 11px;
    right: 100px;
    white-space: nowrap;
}
.v-MailboxItem.is-unread .v-MailboxItem-name {
    font-weight: 700;
    padding-left: 15px;
}
.v-MailboxItem.is-unread .v-MailboxItem-name:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background: #5776f5;
}

.v-MailboxItem-time {
    color: #a1a8aa;
    top: 11px;
    left: auto;
    width: 85px;
    text-align: right;
}

.v-MailboxItem-subject {
    top: 31px;
    right: 40px;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

.v-MailboxItem-total {
    top: 61px;
    left: auto;
    border-radius: 4px;
    padding: 3px 7px;
    background: #f6f6f8;
}

.v-MailboxItem-preview {
    bottom: 11px;
    height: 34px;
    color: #a1a8aa;
}
.v-MailboxItem-total + .v-MailboxItem-preview {
    right: 42px;
}

.v-MailboxItem-flagButton {
    position: absolute;
    top: 30px;
    right: 15px;
    border: none;
    background: none;
    font-size: 16px;
    color: #fff;
    -webkit-text-stroke: 1px rgba(0,0,0,0.15);
    cursor: pointer;
}
.v-MailboxItem-flagButton:hover {
    -webkit-text-stroke-color: rgba(0,0,0,0.25);
}
.v-MailboxItem.is-flagged .v-MailboxItem-flagButton {
    color: #fde16b;
}

.v-MailboxItem-drag {
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background: #fff;
    font-weight: 600;
}

/* --- Thread/Message View --- */

.v-Thread {
    padding: 0 30px;
}
.v-Thread--withAgenda {
    padding-right: 280px;
}

.v-Thread-title {
    padding: 18px 0;
    font-size: 32px;
}

.v-Message {
    margin-bottom: 15px;
    background: #fff;
    font-size: 15px;
}

.v-Message-header {
    height: 70px;
}
.v-Message:not(.is-last) .v-Message-header {
    cursor: pointer;
}

.v-Message-avatar {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.v-Message-first {
    display: flex;
    position: absolute;
    top: 16px;
    left: 75px;
    right: 15px;
}

.v-Message-from {
    flex: auto;
    overflow: hidden;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.v-Message-mailboxes,
.v-Message-time {
    flex: none;
    padding-left: 10px;
}

.v-Message-time {
    color: #a1a8aa;
}

.v-Message-preview,
.v-Message-to {
    position: absolute;
    overflow: hidden;
    top: 36px;
    left: 75px;
    right: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.v-Message-preview {
    color: #a1a8aa;
}

.v-Message-flagButton {
    top: 36px;
    right: 15px;
    border: none;
    background: none;
    font-size: 16px;
    color: #fff;
    -webkit-text-stroke: 1px rgba(0,0,0,0.15);
    cursor: pointer;
    user-select: none;
}
.v-Message-flagButton:hover {
    -webkit-text-stroke-color: rgba(0,0,0,0.25);
}
.v-Message-flagButton.is-flagged {
    color: #fde16b;
}

.v-Message-body {
    position: relative;
    overflow: hidden;
    margin: 5px 15px 15px;
    border-top: 1px solid #e3e6e6;
    padding: 15px 0;
}

.v-Message-body blockquote {
    margin-left: 2px;
    border-left: 3px solid #5776f5;
    padding-left: 10px;
}

.v-Message.is-expanded .v-Message-preview,
.v-Message.is-collapsed .v-Message-to,
.v-Message.is-collapsed .v-Message-body {
    display: none;
}

/* --- Agenda View --- */

.v-Agenda-header {
    position: relative;
    border-bottom: 1px solid #e3e6e6;
    height: 76px;
    line-height: 76px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}

.v-Agenda-when,
.v-Agenda-next,
.v-Agenda-prev {
    position: absolute;
    top: 0;
    height: 100%;
}
.v-Agenda-when {
    left: 20%;
    right: 20%;
    font-weight: bold;
}
.v-Agenda-next,
.v-Agenda-prev {
    overflow: hidden;
    width: 20%;
    text-indent: 100%;
}
.v-Agenda-prev {
    left: 0;
}
.v-Agenda-next {
    right: 0;
}

.v-Agenda-arrow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
    opacity: 0.8;
    border-style: solid;
    border-color: transparent #494f50;
    border-width: 10px 19px 10px 0;
}
.v-Agenda-next:hover > .v-Agenda-arrow,
.v-Agenda-prev:hover > .v-Agenda-arrow {
    opacity: 1;
}

.v-Agenda-next > .v-Agenda-arrow {
    left: 0;
    right: 0;
    border-width: 10px 0 10px 19px;
}

/* --- */

.v-EventItem {
    left: 0;
    right: 0;
    height: 39px;
    border-bottom: 1px solid #e3e6e6;
    padding: 10px 0 10px 55px;
    list-style: none;
    font-size: 15px;
}

.v-EventItem-title,
.v-EventItem-location {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.v-EventItem-time {
    position: absolute;
    top: 10px;
    left: 0;
}

.v-EventItem-location {
    margin-top: 3px;
    color: #a1a8aa;
}

/* --- */

.v-Login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);
}

.v-Login-modal {
    padding: 20px;
    width: 400px;
    background: #fff;
}

.v-Login-title {
    font-weight: bold;
    margin-bottom: 3px;
}

.v-Login .v-Text {
    margin-bottom: 14px;
}

.v-Login .v-Button {
    border: none;
    border-radius: 3px;
    padding: 7px 14px;
    background: #e74c3c;
    color: #fff;
}
.v-Login .v-Button:active {
    background: #d12c1a;
}

/* --- */

.v-Text {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background: #eee;
}

.v-Text-input {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    padding: 7px;
    background: none;
}
